<ng-container *ngIf="(transaction$ | async) as transaction">
  <div class="mat-elevation-z8">
      <table mat-table>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> <b>id:</b> {{ transaction.id }} </th>
        </ng-container>
    
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> <b>Amount:</b> {{ transaction.amount}} </th>
        </ng-container>
    
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef> <b>Balance:</b> {{ transaction.balance }} </th>
        </ng-container>
    
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> <b>Label:</b> {{ transaction.label }} </th>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> <b>Description:</b> {{ transaction.description }} </th>
        </ng-container>
    
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> <b>Date:</b> {{ transaction.date }} </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  </div>
</ng-container>
